<%inherit file="../site.html" />

<%namespace name="header" file="../pagelet/page_header_tpl.html"/>
<%namespace name="market" file="market_tpl.html"/>

<%def name="adding_script()">
<link rel="stylesheet" type="text/css" href="/css/jquery.rating.css" />
<script type="text/javascript" src="/js/jquery.rating.min.js"></script>
</%def>


<div id="blueBar"> </div>
  <div id="globalContent">
    ${header.header_menu_block()}
    
    ${market.market_detail_block()}
     
     
	
</div>

    
    
    
    


