<%def name="person_avatar_info_block()">
<div id="pageletPerson">
    <div class="UIImageBlock clearfix fbxWelcomeBox">
            <a tabindex="-1" aria-hidden="true" href="http://www.facebook.com/profile.php?id=100001436765265"
               class="fbxWelcomeBoxBlock uiImageBlockImage UIImageBlock_MED_Image">
                    <img alt="" src="http://static.ak.fbcdn.net/rsrc.php/v1/yo/r/UlIqmHJn-SK.gif" class="img"></a>
            <div class="prs UIImageBlock_Content UIImageBlock_MED_Content">
                    <a href="http://www.facebook.com/profile.php?id=100001436765265" class="fbxWelcomeBoxName">谢正清</a>
                    <a href="/editprofile.php" class="fbxWelcomeBoxProfileLink">编辑个人主页</a>
            </div>
    </div>
</div>
</%def>


