<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="zh_CN" />
<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen, projection" />
	<![endif]-->
<link rel="stylesheet" type="text/css" href="/css/layout.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<title>移动互联新平台</title>
</head>
<body class="home">
<div class="container" id="page">
  <div id="blueBar"> </div>
  <div id="globalContent">
    
    <div id="pageHead" class="clearfix">
      <h1 id="pageLogo"><a title="首页" href="http://www.facebook.com/?ref=logo"/></h1>
      <div id="jewelCase">
        <div id="requestsWrapper" class="jewel"><a rel="toggle" accesskey="3" href="http://www.facebook.com/friends/edit/?sk=requests" title="朋友请求" id="jewelRequest" class="jewelToggler"> <span class="jewelCount"> <span id="jewelRequestCount">0</span></span></a>
          
        </div>
        <div id="mailWrapper" class="jewel"><a rel="toggle" accesskey="4" href="http://www.facebook.com/?sk=messages&amp;ref=mb" title="站内信息" id="jewelMail" class="jewelToggler"><span id="jewelOuterUnseenCount" class="jewelCount"><span id="jewelInnerUnseenCount">0</span></span></a>
          
        </div>
        <div id="notificationsWrapper" class="jewel"><a rel="toggle" accesskey="5" href="http://www.facebook.com/notifications.php" title="通知" id="jewelNotif" class="jewelToggler"><span class="jewelCount"><span>0</span></span></a>
        </div>
      </div>
      <div id="headNav" class="clearfix">
        <div class="lfloat">
          <form onsubmit="return Event.__inlineSubmit(this,event)" role="search" action="http://www.facebook.com/search/" name="navSearch" id="navSearch" method="get">
            <div id="u649062_2" class="uiTypeahead">
              <div class="wrap">
                <input type="hidden" class="hiddenInput" autocomplete="off"/>
                <span class="uiSearchInput textInput"><span>
                <input type="text" title="搜索" value="" spellcheck="false" onfocus="$(&quot;search_first_focus&quot;).value = $(&quot;search_first_focus&quot;).value || +new Date(); return wait_for_load(this, event, function() {JSCC.get(&#39;j4d7d97ca7089d23044694553&#39;).init([&quot;searchRecorderBasic&quot;]); ;});; " tabindex="" autocomplete="off" placeholder="搜索" onclick='var q = $("q");if (q.value == q.getAttribute("placeholder")) {q.focus(); return false;}' name="q" id="q" accesskey="/" class="inputtext DOMControl_placeholder"/>
                <button title="搜索" onclick='var q = $("q");if (q.value == q.getAttribute("placeholder")) {q.focus(); return false;}' type="submit">
			</button>
                </span></span>
	      </div>
              <div id="u649062_1" class="uiTypeaheadView">
	      </div>
            </div>
            <input type="hidden" value="quick" id="init" name="init"/>
            <input type="hidden" value="search_preload" class="search_sid_input" name="tas"/>
            <input type="hidden" value="" id="search_first_focus" name="search_first_focus"/>
          </form>
        </div>
        <div class="rfloat">
          <ul id="headMenuNav">
            <li/>
            <li id="navHome"><a accesskey="1" href="http://www.facebook.com/?ref=home">首页</a></li>
            <li><a accesskey="2" href="http://www.facebook.com/profile.php?id=100001436765265">个人主页</a></li>
            <li><a href="http://www.facebook.com/?sk=ff">寻找朋友</a></li>
            <li id="navAccount"> <a aria-haspopup="1" role="button" rel="toggle" href="http://www.facebook.com/editaccount.php?ref=mb&amp;drop" id="navAccountLink">帐户<img height="1" width="1" src="http://static.ak.fbcdn.net/rsrc.php/v1/y4/r/-PAXP-deijE.gif" class="img"/></a>
             
            </li>
          </ul>
        </div>
      </div>
      
    </div>
    
    
     <div id="mainContent">
    <div id="leftContent">
	<div id="leftBar">
		<div id="pageletPerson">
			<div id="c4d80b53edd2ca8762975261">
				<div class="UIImageBlock clearfix fbxWelcomeBox">
					<a tabindex="-1" aria-hidden="true" href="http://www.facebook.com/profile.php?id=100001436765265"
					   class="fbxWelcomeBoxBlock uiImageBlockImage UIImageBlock_MED_Image">
						<img alt="" src="http://static.ak.fbcdn.net/rsrc.php/v1/yo/r/UlIqmHJn-SK.gif" class="img"></a>
					<div class="prs UIImageBlock_Content UIImageBlock_MED_Content">
						<a href="http://www.facebook.com/profile.php?id=100001436765265" class="fbxWelcomeBoxName">谢正清</a>
						<a href="/editprofile.php" class="fbxWelcomeBoxProfileLink">编辑个人主页</a>
					</div>
				</div>
			</div>
			
		</div>
		<div id="pageletNav">
			<div id="leftSideNav">
				<div id="pageletMainNav">
					<ul class="uiSideNav">
						<li id="navItemWelcome">
							<a href="http://www.facebook.com/?sk=welcome" class="item" style="">
								<span class="count blue-bubble-float-right uiSideNavCount hidden_elem">
									<span class="countValue fss">0</span>
									<span class="maxCountIndicator"></span>
								</span>
								<span class="imgWrap">
									<i class="navItemImg"></i>
								</span>
								<span class="linkWrap">欢迎来到 Facebook</span>
							</a>
							
						</li>
						<li id="navItemWelcome">
							<a href="http://www.facebook.com/?sk=welcome" class="item" style="">
								<span class="count blue-bubble-float-right uiSideNavCount hidden_elem">
									<span class="countValue fss">0</span>
									<span class="maxCountIndicator"></span>
								</span>
								<span class="imgWrap">
									<i class="navItemImg"></i>
								</span>
								<span class="linkWrap">欢迎来到 Facebook</span>
							</a>
							
						</li>
						<li id="navItemWelcome">
							<a href="http://www.facebook.com/?sk=welcome" class="item" style="">
								<span class="count blue-bubble-float-right uiSideNavCount hidden_elem">
									<span class="countValue fss">0</span>
									<span class="maxCountIndicator"></span>
								</span>
								<span class="imgWrap">
									<i class="navItemImg"></i>
								</span>
								<span class="linkWrap">欢迎来到 Facebook</span>
							</a>
							
						</li>
						
					</ul>
					
				</div>
				<div id="pageletGroupsNav">
					<div id="groupSideNavWrapper">
						<div id="groupSideNav">
							<div role="separator" class="uiHeader uiHeaderTopBorder uiHeaderNav uiHeaderNavEmpty">
								<div class="clearfix uiHeaderTop">
									<div><h4 class="uiHeaderTitle"></h4></div>
								</div>
							</div>
							<ul class="uiSideNav">
								<li id="navItemWelcome">
									<a href="http://www.facebook.com/?sk=welcome" class="item" style="">
										<span class="count blue-bubble-float-right uiSideNavCount hidden_elem">
											<span class="countValue fss">0</span>
											<span class="maxCountIndicator"></span>
										</span>
										<span class="imgWrap">
											<i class="navItemImg"></i>
										</span>
										<span class="linkWrap">欢迎来到 Facebook</span>
									</a>
								</li>
								<li id="navItemWelcome">
									<a href="http://www.facebook.com/?sk=welcome" class="item" style="">
										<span class="count blue-bubble-float-right uiSideNavCount hidden_elem">
											<span class="countValue fss">0</span>
											<span class="maxCountIndicator"></span>
										</span>
										<span class="imgWrap">
											<i class="navItemImg"></i>
										</span>
										<span class="linkWrap">欢迎来到 Facebook</span>
									</a>
								</li>
								<li id="navItemWelcome">
									<a href="http://www.facebook.com/?sk=welcome" class="item" style="">
										<span class="count blue-bubble-float-right uiSideNavCount hidden_elem">
											<span class="countValue fss">0</span>
											<span class="maxCountIndicator"></span>
										</span>
										<span class="imgWrap">
											<i class="navItemImg"></i>
										</span>
										<span class="linkWrap">欢迎来到 Facebook</span>
									</a>
								</li>							
							
							</ul>		
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="pageletApps">
		</div>
	</div>
    </div>
    
    
    
    
    
    <div id="content">
      <div class="app_list" id="love_shopping">
        <h2><a>爱购物的蘑菇们，他们每分每秒在蘑菇街“炫耀”着她们的购物战果...</a></h2>
        <ul>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
        </ul>
      </div>
    </div>
    <div id="sidebar"> </div>
    </div>
    
    
  </div>
  
  
  
 
  <div class="clear"> </div>
  <!-- *** BEGIN page content *** -->
  <!-- *** END page content *** -->
  <div class="clear" id="footer">
    <div class="clear clearfix" id="footer_top">
      <div class="foot"> <span class="foot_title">关注空袋</span> <a class="icon sinaweibo" href="http://t.sina.com.cn/kongdai">新浪微博</a> </div>
      <div class="foot"> <span class="foot_title">提供服务</span>
        <ul>
          <li><a href="/iphone">iPhone Apps</a></li>
          <li><a href="/android">Android Apps</a></li>
        </ul>
      </div>
      <div class="foot"> <span class="foot_title">推广合作</span>
        <p></p>
        <p>空袋提供更多软件推广服务，<a href="/page/services">点击这里</a>了解更多</p>
      </div>
      <div class="foot last"> <span class="logo"></span>
        <p>Copyright &copy; 2010 by <a href="http://www.kongdai.com">kongdai.com</a> 版权所有 </p>
      </div>
      <div class="clear"></div>
    </div>
    <!-- /footer_top -->
    <div class="clearfix" id="footer_bottom">
      <ul class="menu clearfix">
        <li><a href="">论坛</a></li>
        <li><a href="/page/faq">FAQ</a></li>
        <li><a href="/page/aboutus">关于我们</a></li>
        <li><a href="/post/feed.rss">RSS</a></li>
        <li><a href="/page/help">帮助</a></li>
        <li><span class="last"><a href="">空袋社区</a></span></li>
      </ul>
    </div>
    <!-- /footer_bottom -->
  </div>
</div>
<!-- page -->
</body>
</html>
