<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="zh_CN" />


	<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen, projection" />
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="/css/layout.css" />


	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

	<title>移动互联新平台</title>

</head>

<body class="home">


<div class="container" id="page">
	<div id="loginHead">
		<div class="loginContainer">
			<div class="clearfix loginMenuBar">
				<a title="转到Facebook首页" href="/" class="lfloat">
				<img height="36" width="170" alt="Facebook 商标" src="http://static.ak.fbcdn.net/rsrc.php/v1/yp/r/kk8dc2UJYJ4.png" class="fb_logo img"></a>
				<div class="rfloat">
				<div class="loginMenuContainer">
					<form onsubmit="return Event.__inlineSubmit(this,event)" id="login_form" action="https://www.facebook.com/login.php?login_attempt=1" method="POST">
						
					<input type="hidden" autocomplete="off" value="zh_CN" name="locale" id="locale">
					<table cellspacing="0"><tbody>
					<tr><td class="html7magic">
					<label for="email">帐号</label></td><td class="html7magic">
					<label for="pass">密码</label></td></tr>
					<tr><td>
					<input type="text" tabindex="1" id="email" name="email" class="inputtext"></td><td>
					<input type="password" tabindex="2" id="pass" name="pass" class="inputtext"></td><td>
					<label  class="uiButton uiButtonConfirm">
						<input type="submit" tabindex="4" value="登录"></label></td></tr>
					<tr><td class="loginFormLabelField"><input type="checkbox" tabindex="3" name="persistent" id="persistent" value="1" class="inputcheckbox">
					<input type="hidden" value="0" name="default_persistent">
						<label for="persistent" id="label_persistent">保持在登录状态</label></td>
						<td class="loginFormLabelField"><a rel="nofollow" href="http://www.facebook.com/recover.php">忘记密码了？</a></td></tr></tbody></table><input type="hidden" value="€,´,€,´,水,Д,Є" name="charset_test">
						<input type="hidden" autocomplete="off" value="W1sU0" name="lsd" id="lsd">
					</form>
				</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="globalContent">
    
     <div id="mainContent">
    <div id="leftContent">
	<div id="leftBar">
		<div id="pageletPerson">
			<div id="c4d80b53edd2ca8762975261">
				<div class="UIImageBlock clearfix fbxWelcomeBox">
					<a tabindex="-1" aria-hidden="true" href="http://www.facebook.com/profile.php?id=100001436765265"
					   class="fbxWelcomeBoxBlock uiImageBlockImage UIImageBlock_MED_Image">
						<img alt="" src="http://static.ak.fbcdn.net/rsrc.php/v1/yo/r/UlIqmHJn-SK.gif" class="img"></a>
					<div class="prs UIImageBlock_Content UIImageBlock_MED_Content">
						<a href="http://www.facebook.com/profile.php?id=100001436765265" class="fbxWelcomeBoxName">谢正清</a>
						<a href="/editprofile.php" class="fbxWelcomeBoxProfileLink">编辑个人主页</a>
					</div>
				</div>
			</div>
			
		</div>
		<div id="pageletNav">
			<div id="leftSideNav">
				<div id="pageletMainNav">
					<ul class="uiSideNav">
						<li id="navItemWelcome">
							<a href="http://www.facebook.com/?sk=welcome" class="item" style="">
								<span class="count blue-bubble-float-right uiSideNavCount hidden_elem">
									<span class="countValue fss">0</span>
									<span class="maxCountIndicator"></span>
								</span>
								<span class="imgWrap">
									<i class="navItemImg"></i>
								</span>
								<span class="linkWrap">欢迎来到 Facebook</span>
							</a>
							
						</li>
						<li id="navItemWelcome">
							<a href="http://www.facebook.com/?sk=welcome" class="item" style="">
								<span class="count blue-bubble-float-right uiSideNavCount hidden_elem">
									<span class="countValue fss">0</span>
									<span class="maxCountIndicator"></span>
								</span>
								<span class="imgWrap">
									<i class="navItemImg"></i>
								</span>
								<span class="linkWrap">欢迎来到 Facebook</span>
							</a>
							
						</li>
						<li id="navItemWelcome">
							<a href="http://www.facebook.com/?sk=welcome" class="item" style="">
								<span class="count blue-bubble-float-right uiSideNavCount hidden_elem">
									<span class="countValue fss">0</span>
									<span class="maxCountIndicator"></span>
								</span>
								<span class="imgWrap">
									<i class="navItemImg"></i>
								</span>
								<span class="linkWrap">欢迎来到 Facebook</span>
							</a>
							
						</li>
						
					</ul>
					
				</div>
			</div>
		</div>
		<div id="pageletApps">
		</div>
	</div>
    </div>
    
    
    
    
    
    <div id="content">
      <div class="app_list" id="love_shopping">
        <h2><a>爱购物的蘑菇们，他们每分每秒在蘑菇街“炫耀”着她们的购物战果...</a></h2>
        <ul>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
          <li>
            <div><a target="_blank" href="/u/mjjeje"> <img class="u_name" src="/avatar/zhenng.jpg" alt="肥老大"></a> </div>
            <a style="font-size: 12px;" href="/u/mjjeje" class="u_name" target="_blank">mjjeje</a> </li>
        </ul>
      </div>
    </div>
    <div id="sidebar"> </div>
    </div>
    
    
  </div>
	
	  
      
	<div class="clear">
        </div>     

<!-- *** BEGIN page content *** -->

<!-- *** END page content *** -->





</div><!-- page -->

</body>
</html>


