


<%def name="adding_script()">

</%def>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="language" content="zh_CN" />


	<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="/css/ie.css" media="screen, projection" />
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="/css/layout.css" />

        

        <script type="text/javascript" src="/js/jquery.min.js"></script>
        
        

        ${self.adding_script()}
        
	<title>移动互联新平台</title>
	

</head>

<body class="home">


<div class="container" id="page">

  ${self.body()}

    
    
    
   
 





<div id="footer" class="clear" >
            <span class="lfloat">&copy; 2010 kongdai.com, all rights reserved
        
            </span>
            <span class="rfloat">
                <a href="http://www.kongdai.com/about">关于空袋</a>
                · <a href="http://www.kongdai.com/about/contactus">联系我们</a>
                · <a href="http://www.kongdai.com/about/disclaimer">免责声明</a>
                · <a href="http://www.kongdai.com/help">帮助中心</a>
                · <a href="http://www.kongdai.com/service/">API</a>
                · <a href="/market">空袋市场</a>
                · <a href="http://www.kongdai.com/partner">合作服务</a>
            </span>
        </div>


</div><!-- page -->

</body>
</html>


